<div class="container ">
    <div class="panel panel-primary ">
        <div class="panel-heading ">Shopping cart</div>
        <div class="panel-body ">
            <div class="row titleCart ">
                <div class="col-xs-7 col-sm-7 products ">
                    Products
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    Num
                </div>
                <div class="col-xs-2 col-sm-2 ">
                    Total
                </div>
            </div>
            <div class="row product ">
                <div class="col-xs-2 col-sm-2 ">
                    <img class="img-responsive imgPreview " ng-src="https://vcdn.tikicdn.com/cache/w300/media/catalog/product/a/b/abab1_1_1_2.jpg " />
                </div>
                <div class="col-xs-5 col-sm-5 titleBook ">
                    Descendants of the Sun
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    Sl: <input value="1 " />
                </div>
                <div class="col-xs-2 col-sm-2 ">
                    $9.9
                </div>
            </div>
            <div class="row product ">
                <div class="col-xs-2 col-sm-2 ">
                    <img class="img-responsive imgPreview " ng-src="https://vcdn.tikicdn.com/cache/w300/media/catalog/product/a/b/abab1_1_1_2.jpg " />
                </div>
                <div class="col-xs-5 col-sm-5 titleBook ">
                    Descendants of the Sun
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    Sl: <input value="1 " />
                </div>
                <div class="col-xs-2 col-sm-2 ">
                    $9.9
                </div>
            </div>
        </div>
        <div class="panel-footer ">
            <div class="left footercart ">
                Total
            </div>
            <div class="right footercart ">
                $9.9
            </div>
        </div>
    </div>
</div>