<div class="container " ng-init="getForm()">
    <div class="row ">
        <div class="col-sm-5 ">
            <div class="sign ">
                <form>
                    <div class="form-group ">
                        <label>Account</label>
                        <input type="email " class="form-control " id="email ">
                    </div>
                    <div class="form-group ">
                        <label for="pwd ">Password:</label>
                        <input type="password " class="form-control " id="pwd ">
                    </div>
                    <div class="checkbox ">
                        <label><input type="checkbox "> Remember me</label>
                    </div>
                    <button type="submit " class="btn btn-default ">Sign In</button>
                </form>
            </div>
        </div>
        <div class="col-sm-2 divOR ">
            <a class="btn btn-warning btnOR ">OR</a>
        </div>
        <div class="col-sm-5 ">
            <div class="sign ">
                <form>
                    <div class="form-group ">
                        <label for="email ">Email</label>
                        <input type="email " class="form-control " id="email ">
                    </div>
                    <div class="form-group ">
                        <label for="pwd ">Password:</label>
                        <input type="password " class="form-control " id="pwd ">
                    </div>
                    <div class="form-group ">
                        <label for="pwd ">Password again:</label>
                        <input type="password " class="form-control " id="pwd1 ">
                    </div>
                    <button type="submit " class="btn btn-default ">Register</button>
                </form>
            </div>
        </div>
    </div>